.card {
    max-width: 34.5rem;
    width: 100%;
}

.card__image {
    height: 14rem;
}

.card__items {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    text-transform: uppercase;
    background-color: rgb(224, 224, 224);
}

